*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.container .row:nth-child(1)
{
    margin-top: 15px;
    margin-bottom: 20px;
    
}
.navigation__first
{
    display: inherit;
    margin-top: -4px;
}
.navigation__first-text
{
    margin-top: 5px;
}
 .navigation__first img
{
    margin-right: 16px;
    width: 39px;
}
.navigation__first img::after
{
    position: absolute;
    width: 228px;
    height: 20px;
    left: 12%;
    border-radius: 50%;
    bottom: -13%;
    content: "";
    box-shadow: 0 26px 11px rgb(0 0 0 / 22%);
}
.img__logo::after {
    position: absolute;
    transform: translate(-54px, 38px);
    content: "";
    background-color: #eaeaea;
    height: 3px;
    width: 35px;
    left: 129px;
    top: 18px;
    border-radius: 50%;
    box-shadow: 0 8px 23px rgb(0 0 0 / 87%);
}
.container .row:nth-child(1) .col-6 span
{
    font-weight: bold;

}
.container .row:nth-child(1) .col-6:nth-child(2)
{
    display: flex;
    justify-content: flex-end;
}
.row .img--logo
{
    display: inline;
}

.heading
{
    justify-content: center;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 19px;
    
}
.tablet-img
{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.button
{
    position: relative;
    background-color: #9494e8;
    border-radius: 49px;
    cursor: pointer;
    height: 60px;
    padding: 11px;
    text-align: center;
     box-shadow: 0px 2px 10px; 
     background-image:linear-gradient(to bottom, #b3e8ff 16%,#4c7699);
     margin-top: 38px;
 
}
.button:after {
    position: absolute;
    width: 228px;
    height: 20px;
    left: 12%;
    border-radius: 50%;
    bottom: -13%;
    content: "";
    box-shadow: 0 26px 11px rgb(0 0 0 / 22%);
  
}

.button:hover
{
    opacity: 0.5;
}
.button-text--above
{
    
 
    margin: auto;
    font-weight: bold;
    
    text-transform: uppercase;
}
.button-text--below
{
    font-size: 12px;
    display: block;
   
}
.button-div--next
{
    color:#bbceeb;
    margin: auto;
}
.button-text--next
{
    display: inline-block;
}
.arrow
{
    width: 37px;
    height: 66px;
    padding-top: 14px;
    display: inline-block;
}
.container .row:nth-child(5)
{
    margin-top: 64px;

}
.container .row:nth-child(6)
{
    margin-top: 64px;
}
.container .row:nth-child(7)
{
    margin-top: 64px;
}
.container .row:nth-child(8)
{
    margin-top: 56px;
    display: flex;
    background-color: #f7f7f7;
    height: 131px;

}
.content-1
{
    display: flex;
}
.content-1 img
{
    height: 60px;
    width: 76px;

}
.content-1__picture--heading
{
    font-size: 19px;
    font-weight: bold;
}
.content-1__picture--text
{
    color: rgba(0,0,0,0.5);
}
.row .box--above{
    color: #85aee4;
    font-style: italic;
}
.row .box--text
{
    margin-top: 23px;
    background-color: #cbcbcb;
    padding: 30px;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.box--under 
{
    display: flex;
    justify-content: flex-end;
}
.box--under-text
{
    margin-top: 4px;
}
.box--under-triangle
{
    width: 0;
    height: 0;
    padding: 0;
    border-left: 2px solid transparent;
    border-right: 30px solid transparent;
    border-top: 23px solid #ccc;
    
}

.container .row:nth-child(8) .button-div--next
{
    display: flex;
    color: #bbceeb;
    justify-content: flex-end;
    align-items: center;
}
.container .row:nth-child(8) img
{
    
    margin-right: 8px;
    margin-bottom: -14px;
    margin-top: -26px;
    width: 89px;
    height: 57px;
    padding: 0;
}
.container .row:nth-child(8) .col-4:nth-child(3)
{
    text-align: end;
}

.container .row:nth-child(9)
{
    margin-top: 84px;
    background-color: #868686;
    height: 217px;
    width: 128%;
    margin-left: -95px;
}
.container .row .contact-content
{
    padding-left: 33px;
    padding-top: 33px;
}
.container .row .contact--above
{
    font-weight: bold;
    font-size: 18px;
}
.container .row .contact--text
{
    margin-top: 11px;
    font-size: 13px;
}
.row .map--image img
{
    margin: 51px 12px;
    /* text-align: center; */
    width: 268px;
    border-radius: 7px;
    height: 67px;
    display: block;
}
.container .row:nth-child(9) .col-3:nth-child(4) .contact--above
{
    margin-bottom: 9px;
    margin-top: -4px;
}
.footer
{
    max-width: 1200px;
    width: 1086px;
    margin-left: -62px;
    background-color: #6d6d6d;
    margin-right: -42px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    color:#4f4f4f;
}
.footer__text-right
{
    display: flex;
    justify-content: flex-end;  
}
.footer__text-right--before
{
    margin-right: 12px;
}
.footer__text-right--before::after
{
    content: "";
    display: inline-flex;
    background-color: #4f4f4f;
    height: 13px;
    width: 2px;
    transform: translate(5px, 2px);
}